################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SupplyChainManagementSln/FileContentIndex
/.cr/personal/FavoritesList/List.xml
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.AssemblyInfo.cs
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.AssemblyInfoInputs.cache
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.assets.cache
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.GeneratedMSBuildEditorConfig.editorconfig
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.sourcelink.json
/.vs/SupplyChainManagementSln/v17/.suo
/.vs/SupplyChainManagementSln/v17/DocumentLayout.json
/SupplyChainManagement/bin/Debug/net8.0/SupplyChainManagement.deps.json
/SupplyChainManagement/bin/Debug/net8.0/SupplyChainManagement.dll
/SupplyChainManagement/bin/Debug/net8.0/SupplyChainManagement.exe
/SupplyChainManagement/bin/Debug/net8.0/SupplyChainManagement.pdb
/SupplyChainManagement/bin/Debug/net8.0/SupplyChainManagement.staticwebassets.runtime.json
/SupplyChainManagement/bin/Debug/net8.0/UglyToad.PdfPig.Core.dll
/SupplyChainManagement/bin/Debug/net8.0/UglyToad.PdfPig.dll
/SupplyChainManagement/bin/Debug/net8.0/UglyToad.PdfPig.DocumentLayoutAnalysis.dll
/SupplyChainManagement/bin/Debug/net8.0/UglyToad.PdfPig.Fonts.dll
/SupplyChainManagement/bin/Debug/net8.0/UglyToad.PdfPig.Package.dll
/SupplyChainManagement/bin/Debug/net8.0/UglyToad.PdfPig.Tokenization.dll
/SupplyChainManagement/bin/Debug/net8.0/UglyToad.PdfPig.Tokens.dll
/SupplyChainManagement/obj/Debug/net8.0/apphost.exe
/SupplyChainManagement/obj/Debug/net8.0/refint/SupplyChainManagement.dll
/SupplyChainManagement/obj/Debug/net8.0/staticwebassets.build.json
/SupplyChainManagement/obj/Debug/net8.0/staticwebassets.development.json
/SupplyChainManagement/obj/Debug/net8.0/staticwebassets.pack.json
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.csproj.AssemblyReference.cache
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.csproj.CoreCompileInputs.cache
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.csproj.FileListAbsolute.txt
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.dll
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.genruntimeconfig.cache
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.pdb
/SupplyChainManagement/obj/Debug/net8.0/ref/SupplyChainManagement.dll
/SupplyChainManagement/obj/project.assets.json
/SupplyChainManagement/obj/project.nuget.cache
/SupplyChainManagement/obj/SupplyChainManagement.csproj.nuget.dgspec.json
*.v2
*.bin
/SupplyChainManagement/obj/Debug/net8.0
/SupplyChainManagement/obj/SupplyChainManagement.csproj.nuget.g.props
