################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SupplyChainManagementSln/FileContentIndex
/.cr/personal/FavoritesList/List.xml
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.AssemblyInfo.cs
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.AssemblyInfoInputs.cache
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.assets.cache
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.GeneratedMSBuildEditorConfig.editorconfig
/SupplyChainManagement/obj/Debug/net8.0/SupplyChainManagement.sourcelink.json
/.vs/SupplyChainManagementSln/v17/.suo
/.vs/SupplyChainManagementSln/v17/DocumentLayout.json
